apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
  namespace: monitoring
  labels:
    app: grafana
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
    spec:
      securityContext:
        fsGroup: 472
        runAsGroup: 472
        runAsUser: 472
      initContainers:
        - name: download-dashboards
          image: curlimages/curl
          command: ["/bin/sh", "-c"]
          args:
            - |
              mkdir -p /var/lib/grafana/dashboards/default
              # Kubernetes Cluster
              curl -sL https://grafana.com/api/dashboards/15757/revisions/43/download -o /var/lib/grafana/dashboards/default/k8s-cluster.json
              # Node Exporter Full
              curl -sL https://grafana.com/api/dashboards/1860/revisions/42/download -o /var/lib/grafana/dashboards/default/node-exporter.json
              # Loki Logs
              curl -sL https://grafana.com/api/dashboards/15141/revisions/1/download -o /var/lib/grafana/dashboards/default/loki-logs.json
              # Traefik Ingress
              curl -sL https://grafana.com/api/dashboards/11462/revisions/1/download -o /var/lib/grafana/dashboards/default/traefik-logs.json
          volumeMounts:
            - name: grafana-dashboards
              mountPath: /var/lib/grafana/dashboards
      containers:
        - name: grafana
          image: grafana/grafana:10.0.3
          ports:
            - containerPort: 3000
              name: http-grafana
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          volumeMounts:
            - mountPath: /var/lib/grafana
              name: grafana-storage
            - mountPath: /etc/grafana/provisioning/datasources
              name: grafana-datasources
              readOnly: false
            - mountPath: /etc/grafana/provisioning/dashboards
              name: grafana-dashboard-provider
            - mountPath: /var/lib/grafana/dashboards
              name: grafana-dashboards
      volumes:
        - name: grafana-storage
          persistentVolumeClaim:
            claimName: grafana-pvc
        - name: grafana-datasources
          configMap:
            defaultMode: 420
            name: grafana-datasources
        - name: grafana-dashboard-provider
          configMap:
            name: grafana-dashboard-provider
        - name: grafana-dashboards
          emptyDir: {}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: grafana-pvc
  namespace: monitoring
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: monitoring
spec:
  selector:
    app: grafana
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 3000
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: grafana
  namespace: monitoring
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`grafana.<<seu-dominio>>`) || Host(`grafana.oci.<<seu-dominio>>`)
      kind: Rule
      services:
        - name: grafana
          port: 80
