apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: loki-external
  namespace: monitoring
spec:
  entryPoints:
    - web
  routes:
  - match: Host(`loki.<<seu-dominio>>`) || Host(`<<k8s-internal-dns>>`)
    kind: Rule
    services:
    - name: loki
      port: 3100
