apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: loki-external
  namespace: monitoring
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`loki.nettask.com.br`) || Host(`nettask-com-br.public.mainvcn.oraclevcn.com`)
      kind: Rule
      services:
        - name: loki
          port: 3100
